.image{
  display: block;
  margin: auto;

}
h1{
  font-size: 3rem;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: rgb(184, 236, 244);
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
  text-shadow: 2px 2px rgba(39, 32, 121, 0.7);
}
p{
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}
footer{
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
}
